<div class="edit-form">
  
  <div class="header">
    <h1 class="edit-header">Editing employee</h1>
  </div>  

  <%= render 'form' %>

  <div class="back-button">
    <p><%= link_to 'Back', root_path %></p>
  </div>

  